SECRET_KEY=twoja_super_tajna_wartosc_produkcyjna
DATABASE_URL=postgresql://user:password@localhost:5432/osp_logbook
OSP_USE_HTTPS=0
FLASK_ENV=development

# Render.com Deployment Notes:
# Build Command (if using Native Python Env): pip install -r requirements.txt
# Start Command (if using Native Python Env): gunicorn app:app
# Docker Build: Make sure to select "Docker" environment in Render setup.
# Pre-Deploy Command (in Render Dashboard or render.yaml): yoyo apply -b --database $DATABASE_URL ./migrations
